#clock{
    background: url(clock.png) no-repeat;
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
}

#hour ,  #minute , #second{
    position: absolute;
    background: black;
    border-radius: 7px;
    transform-origin: bottom;
}

#hour{
    height: 25%;
    width: 3.2%;
    top: 26.5%;
    left: 49.3%;
    opacity: 0.8;
}

#minute{
    height: 29.5%;
    width: 1.8%;
    top: 21%;
    left: 48.8%;
    opacity: 0.8;
}

#second{
    height: 36%;
    width: 0.5%;
    top: 14%;
    left: 49.6%;
    opacity: 0.8;
}    




